{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Love Lijiang</title>

  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <link rel="stylesheet" type="text/css" href="{% static '/custom.css' %}">

</head>
<body>

  <nav class="navbar navbar-expand-md mb-4 border" style="background-color: #F6EEE0">
    <div class="container-fliud">
      <a class="navbar-brand" href="{% url 'lijiang_guide:index' %}">Love, Lijiang</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lijiang_guide:hike' %}">Hiking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lijiang_guide:cafe' %}">Cafes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
  </main>


</body>
</html>
