{% extends 'lijiang_guide/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block page_header %}
  <h1 class="text-center">Hiking Spots ⛰️</h1>
  <form method="get" action="{% url 'lijiang_guide:hiking' %}">
    <input type="text" name="q" placeholder="Search Hiking Spots...">
  </form>
{% endblock page_header %}

{% block content %}
  <div class="text-center">
    <ul>
      {% for trail in trails %}
        <li>
          <a href="{% url 'lijiang_guide:trail' trail.id %}"><h4>{{ trail }}</h4></a>
          <p>{{ trail.location }} &nbsp; <a href="{{ trail.google_map }}">map</a></p>
          {% if trail.hiking_image %}
            <a href="{% url 'lijiang_guide:trail' trail.id %}">
              <img src="{{ trail.hiking_image.url }}" width="500px" class="img-fluid rounded">
            </a>
          {% endif %}
        </li>
        <br>
      {% endfor %}
    </ul>
  </div>  
{% endblock content %}