{% extends 'lijiang_guide/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h1>{{ trail }}</h1>
  <p>Location: {{ trail.location }} &nbsp; <a href="{{ cafe.google_map }}">map</a><span></p>
{% endblock page_header %}

{% block content %}
    <p>{{ trail.description }}</p>
    <div class="text-center pb-2 mb-4 border-bottom">
      <img src="{{ trail.hiking_image.url }}" width="500px" class="img-fluid rounded">
    </div>

    <ul>
      <h5>Reviews:</h5>
      {% for review in latest_reviews %}
        <li><p>{{review.user.username|title }} reviewed on {{review.date|date:"Y-m-d" }}:<br> {{ review }}</p></li>
      {% empty %}
        <p>No reviews yet, be the first one!</p>
      {% endfor %}
    </ul>
    <a href="{% url 'lijiang_guide:trail_reviews' trail.id %}">See all reviews</a>

    <br><br>

    {% if user.is_authenticated %}
      <form action="{% url 'lijiang_guide:trail' trail.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Submit review">
      </form>
    {% else %}
      <a href="{% url 'accounts:login' %}"><p>Log in to write review</p></a>
    {% endif %}

{% endblock content %}